<section class="block audio">
    <div class="wrap">
        <h2 class="title">Аудио - и видеоотзывы
        </h2>
        <div class="audio-reviews-items">
            <div class="audio-reviews-item audio-1">
                <audio preload="none">
                    <source src="audio/audio1.mp3" type="audio/mp3">
                </audio>
                <div class="audio-reviews-title">Игорь, 50 лет</div>
            </div>
            <div class="audio-reviews-item audio-2">
                <audio preload="none">
                    <source src="audio/audio2.mp3" type="audio/mp3">
                </audio>
                <div class="audio-reviews-title">Валентина, 45 лет</div>
            </div>
            <div class="audio-reviews-item audio-3">
                <audio preload="none">
                    <source src="audio/audio3.mp3" type="audio/mp3">
                </audio>
                <div class="audio-reviews-title">Дмитрий, 40 лет</div>
            </div>
        </div>
        <div class="audio__line"></div>

        <div class="audio__content">
            <div class="audio__item">
                <div class="youtube" id="1jjo4S7-zU8"></div>
                <h2 class="audio__auth">Мария, 45 лет</h2>
            </div>
            <div class="audio__item">
                <div class="youtube" id="1jjo4S7-zU8"></div>
                <h2 class="audio__auth">Александр, 48 лет</h2>
            </div>
            <div class="audio__item">
                <div class="youtube" id="1jjo4S7-zU8"></div>
                <h2 class="audio__auth">Александра, 46 лет</h2>
            </div>
        </div>
    </div>
</section>