<section class="consist block" id="consist">
    <div class="wrap">
        <h2 class="title consist__title">
            Натуральный растительный состав <br>
            <span class="blue__color">Diaprin</span>
        </h2>
        <h3 class="consist__subtitle">
            подходит для любого возраста
        </h3>
        <div class="consist__content">
            <div class="consist__row consist__row-1">
                <div class="consist__item consist__item--bigest">
                    <div class="consist__img">
                        <span class="consist__img--rline consist__img--rline--small consist__img--rline--small-f"></span>
                        <span class="consist__img--rline-vertical consist__img--rline-vertical-f"></span>
                        <img src="img/consist__img-1.png" alt="consist" class="consist__foto">
                    </div>
                    <h3 class="consist__text">
                        Экстракт топинамбура
                    </h3>
                    <p class="consist__des">
                        содержат инулин, который нормализует <br>
                        углеводный и&nbsp;липидный обмен
                    </p>
                </div>
                <div class="consist__item consist__item--bigest">
                    <div class="consist__img">
                        <span class="consist__img--lline consist__img--lline--small consist__img--lline--small-f"></span>
                        <span class="consist__img--lline-vertical consist__img--lline-vertical-f"></span>
                        <img src="img/consist__img-2.png" alt="consist" class="consist__foto">
                    </div>
                    <h3 class="consist__text">
                        Экстракт корня девясила
                    </h3>
                    <p class="consist__des">
                        восстанавливает клетки поджелудочной <br>
                        железы, нормализует ее&nbsp;работу

                    </p>
                </div>
            </div>
            <div class="consist__row consist__row-2">
                <div class="consist__item">
                    <div class="consist__img">
                        <span class="consist__img--rline"></span>
                        <img src="img/consist__img-3.png" alt="consist" class="consist__foto">
                    </div>
                    <h3 class="consist__text">
                        Экстракт корня цикория
                    </h3>
                    <p class="consist__des">
                        снижает гликемический индекс <br>
                        продуктов, уменьшает тягу <br>
                        к&nbsp;сладкому
                    </p>
                </div>
                <div class="consist__item">
                    <div class="consist__img">
                        <span class="consist__img--lline"></span>
                        <img src="img/consist__img-4.png" alt="consist" class="consist__foto">
                    </div>
                    <h3 class="consist__text">
                        Экстракт корня омана
                    </h3>
                    <p class="consist__des">
                        нормализует давление и&nbsp;бодрое <br>
                        самочувстви
                    </p>
                </div>
            </div>
            <div class="consist__row consist__row-3">
                <div class="consist__item consist__item--big consist__item--bigest">
                    <div class="consist__img">
                        <span class="consist__img--rline consist__img--rline--small"></span>
                        <span class="consist__img--rline-vertical "></span>
                        <img src="img/consist__img-5.png" alt="consist" class="consist__foto">
                    </div>
                    <h3 class="consist__text">
                        Экстракт курильского чая
                    </h3>
                    <p class="consist__des">
                        восстанавливает микрофлору в&nbsp;организме, нормальную <br>
                        работу почек, мочевого пузыря и&nbsp;печени
                    </p>
                </div>
                <div class="consist__item consist__item--big consist__item--bigest">
                    <div class="consist__img">
                        <span class="consist__img--lline consist__img--lline--small"></span>
                        <span class="consist__img--lline-vertical "></span>
                        <img src="img/consist__img-6.png" alt="consist" class="consist__foto">
                    </div>
                    <h3 class="consist__text">
                        Комплекс витаминов А, С, Е, В1, В6, В7, В12, Н, <br>
                        липоевой кислоты и&nbsp;селена
                    </h3>
                    <p class="consist__des">
                        обеспечивает организм необходимой защитой от&nbsp;инфекций, <br>
                        налаживает зрение и&nbsp;общее самочувствие
                    </p>
                </div>
            </div>
            <img src="img/product__small.png" alt="prod" class="consist__prod">
        </div>
    </div>
</section>