<section class="doctor block blue__bg">
   <div class="wrap">
      <h2 class="title doctor__title">
         Эндокринологи с мировым именем&nbsp;<br>рекомендуют <span class="blue__color">Diaprin</span></h2>
      <div class="doctor__content">
         <div class="name-wrap">
            <div class="name name-1 name--active js-tabs" data-target="#comment-1">
               <p class="icon-1">Джеймс Бьюз</p>
            </div>
            <div class="name name-2 js-tabs" data-target="#comment-2">
               <p class="icon-2">Мишагин Михаил</p>
            </div>
         </div>
         <div class="comment comment--active" id="comment-1">
            <img src="img/doctor-2.jpg" alt="doctor" class="comment__photo">
            <div class="comment-wrap">
               <div class="comment__text">
                  <p class="text">В Америке и России разные проблемы в лечении одной и&nbsp;той же болезни – диабета.
                  </p>

                  <p class="text">
                     <span class="font-bold">Наша основная проблема - количество больных</span>. Это каждый
                     10-й&nbsp;американец. Также у нас сложно
                     попасть на прием к врачу - можно ждать 2-3&nbsp;недели. В России попасть к врачу намного проще,
                     но&nbsp;это в большинстве случаев не принесет результата. <span class="font-bold">Проблема России,
                        как и&nbsp;всего СНГ, – неумение врачей сделать правильное назначение</span>. Русские врачи
                     выписывают
                     только препараты для нормализации сахара в&nbsp;то время, как нужно восстанавливать весь организм.
                  </p>

                  <p class="text">
                     У нас уже используют препараты, которые помогают пациенту выздоравливать, а&nbsp;не заглушать
                     симптомы
                     болезни.
                  </p>
                  <p class="text">
                     В России часто врач думает “больше инсулина - больше вероятность того, что он сработает”. Но это
                     изматывающий для организма способ, он&nbsp;действует недолго и приводит к ухудшению.
                  </p>
                  <p class="text">
                     <span class="font-bold"> Я настоятельно рекомендую использовать Диаприн - натуральное средство с
                        продуманной механикой действия, которое устраняет побочные проявления диабета и нормализует
                        уровень сахара</span>. Плюс,
                     конечно, диету и разумные физические нагрузки. Так вы сможете восстановить здоровье и полноценно
                     жить.
                  </p>
               </div>
               <div class="comment__sign comment__sign--1">
                  <span class="name">Джеймс Бьюз</span>
                  <p class="post">Доктор медицины, ученый-эндокринолог, президент Американской Диабетической Ассоциации
                  </p>
               </div>
            </div>
         </div>
         <div class="comment" id="comment-2">
            <img src="img/doctor-1.jpg" alt="doctor" class="comment__photo">
            <div class="comment-wrap">
               <div class="comment__text">
                  <p class="text">Америка - страна с наибольшей заболеваемостью диабетом 2 типа. Потому и&nbsp;в
                     &nbsp;лечении диабета они продвинулись лучше других.</p>
                  <p class="text">Для нас самое мудрое решение – лечиться по их технологиям. </p>
                  <p class="text">
                     <span class="font-bold">Наши врачи часто назначают препараты, которые только понижают сахар, в то
                        время как весь организм продолжает страдать</span>. Так, таблетки, которые стимулируют
                     выработку инсулина могут “загнать”
                     поджелудочную и привести к&nbsp;инсулинозависимому диабету 1&nbsp;типа. Другие могут угробить
                     печень или&nbsp;сердце.
                  </p>
                  <p class="text">
                     <span class="font-bold">Диаприн, созданный по американской технологии, снижает сахар, устраняет
                        сопутствующие диабету симптомы и&nbsp;болезни</span> и восполняет дефицит всех нужных витаминов
                     и&nbsp;микроэлементов.
                  </p>
                  <p class="text">
                     После такой терапии <span class="font-bold">организм будет самостоятельно поддерживать результат</span>.
                  </p>
               </div>
               <div class="comment__sign comment__sign--2">
                  <span class="name">Мишагин Михаил</span>
                  <p class="post">Профессор, эндокринолог высшей категории, “Врач года”-2017</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>