<section class="graph block blue__bg">
   <div class="wrap">
      <h2 class="title graph__title"><span class="blue__color">Diaprin</span> – восстановите здоровье&nbsp;<br>при
         диабете <span class="nowrap">2-го&nbsp;типа</span>
      </h2>
      <p class="graph__desc"><span class="font-bold">Диаприн</span> – новейший препарат, созданный на основе
         американских передовых технологий.&nbsp;<br>
         Его основные преимущества — <span class="font-bold">нормализация уровня сахара</span> в крови и&nbsp;<span
            class="font-bold">устранение</span>&nbsp;<br>
         сопутствующих диабету <span class="font-bold">симптомов и&nbsp;болезней</span>.
      </p>
      <h3 class="graph__ttl">Как работает <span class="blue__color">Diaprin?</span></h3>
      <div class="graph__content">
         <div class="col">
            <div class="col__check col__check--1">
               2 <small>день</small>
            </div>
            <p class="col__text">Нормализует&nbsp;<br>уровень сахара</p>
         </div>
         <div class="col">
            <div class="col__check col__check--2">
               5 <small>дней</small>
            </div>
            <p class="col__text">Восстанавливает&nbsp;<br>артериальное&nbsp;<br>давление</p>
         </div>
         <div class="col">
            <div class="col__check col__check--3">
               10 <small>дней</small>
            </div>
            <p class="col__text">Меньше&nbsp;<br>беспокоит&nbsp;<br>сухость во рту</p>
         </div>
         <div class="col">
            <div class="col__check col__check--4">
               15 <small>дней</small>
            </div>
            <p class="col__text">Постепенно&nbsp;<br>уходит&nbsp;<br>лишний вес</p>
         </div>
         <div class="col">
            <div class="col__check col__check--5">
               20 <small>дней</small>
            </div>
            <p class="col__text">Улучшает&nbsp;<br>зрение</p>
         </div>
         <div class="col">
            <div class="col__check col__check--6">
               25 <small>дней</small>
            </div>
            <p class="col__text">Конечности&nbsp;<br>прекращают&nbsp;<br>неметь</p>
         </div>
         <div class="col">
            <div class="col__check col__check--7">
               30 <small>дней</small>
            </div>
            <p class="col__text">Возвращает&nbsp;<br>отличное&nbsp;<br>самочувствие</p>
         </div>
      </div>
      <button class="btn graph__btn ever-popup-btn">Заказать Diaprin
         <small>со скидкой</small>
      </button>
   </div>
</section>