<section class="order block">
   <div class="wrap">
      <h2 class="title order__title">Как заказать доставку&nbsp;<br> <span class="blue__color">Diaprin</span></h2>
      <div class="order__content">
         <div class="item">
            <img src="img/order-1.jpg" alt="order" class="item__photo">
            <h4 class="item__ttl">Заполните&nbsp;<br>форму </h4>
            <p class="item__text">Укажите свое имя и номер телефона</p>
         </div>
         <div class="item">
            <img src="img/order-2.jpg" alt="order" class="item__photo">
            <h4 class="item__ttl">Ответьте&nbsp;<br>на звонок оператора </h4>
            <p class="item__text">Он уточнит ваши адресные данные</p>
         </div>
         <div class="item">
            <img src="img/order-3.jpg" alt="order" class="item__photo">
            <h4 class="item__ttl">Оплатите&nbsp;<br>после получения</h4>
            <p class="item__text">Никаких предоплат!</p>
         </div>
      </div>
      <div class="dash"></div>
      <p class="order__result">Вы можете прямо сейчас <span class="blue__color">получить бесплатную консультацию</span>
         специалиста.&nbsp;<br>Укажите свое имя и
         номер телефона&nbsp;<br>в форме для заявки. Наш оператор Вам перезвонит в ближайшее время.</p>
   </div>
</section>