<section class="problem block">
   <div class="wrap">
      <ul class="list">
         <li class="list__item">
            <i class="fico fico-icon-1"></i>
            <span class="line-top">При диабете 2-го типа</span>
         </li>
         <li class="list__item">
            <i class="fico fico-icon-2"></i>
            <span class="line-top">Детям до 14 лет&nbsp;<br />противопоказано</span>
         </li>
         <li class="list__item">
            <i class="fico fico-icon-3"></i>
            <span class="line-top">100% натуральный состав</span>
         </li>
      </ul>
      <h2 class="title problem__title">
         У вас диабет,&nbsp;<br />
         и вы уже столкнулись с его симптомами?
      </h2>
      <div class="problem__list">
         <div class="item">
            <img src="img/problem-1.jpg" alt="img" class="item__img" />
            <p class="item__text">Головные боли и сухость во рту</p>
            <svg class="icon line icon-rotate">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/problem-2.jpg" alt="img" class="item__img" />
            <p class="item__text">Частые позывы в туалет</p>
            <svg class="icon line">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/problem-3.jpg" alt="img" class="item__img" />
            <p class="item__text">Нарушения аппетита</p>
         </div>
         <div class="item">
            <img src="img/problem-4.jpg" alt="img" class="item__img" />
            <p class="item__text">Онемения и отеки конечностей</p>
            <svg class="icon line">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/problem-5.jpg" alt="img" class="item__img" />
            <p class="item__text">Проблемы с кожей</p>
            <svg class="icon line icon-rotate">
               <use xlink:href="#line"></use>
            </svg>
         </div>
         <div class="item">
            <img src="img/problem-6.jpg" alt="img" class="item__img" />
            <p class="item__text">Нарушение зрения</p>
         </div>
      </div>
      <div class="dash"></div>
      <h2 class="title problem__title problem__title--bottom">
         А может, вследствие диабета&nbsp;<br />
         у вас появились серьезные болезни?
      </h2>
      <div class="problem__desc">
         Статистика ВОЗ:<br />
         у 87% людей с диабетом диагностируются сопутствующие заболевания
      </div>
      <div class="problem__slider">
         <div class="item">
            <img src="img/problem-slide-1.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Атеросклероз</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-2.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Ишемическая болезнь</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-3.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Повышенный холестерин</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-4.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Слепота</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-5.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Почечная недостаточность</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-6.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Гипертония</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-7.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Нарушения липидного обмена</p>
         </div>
         <div class="item">
            <img src="img/problem-slide-8.jpg" alt="photo" class="item__photo" />
            <p class="item__text">Депрессии</p>
         </div>
      </div>
      <div class="dash dash--red"></div>
      <p class="problem__result">Эти болезни возникают из-за разрушительного действия сахара,&nbsp;<br>который остается
         в крови, а не перерабатывается в энергию</p>
      <p class="problem__result2">При диабете понижать уровень сахара — недостаточно.<br>Необходимо заняться
         восстановлением всего организма, чтобы не допустить осложнений&nbsp;<br>и серьезных болезней!</p>
   </div>
</section>