<section class="block research" id="research">
    <div class="wrap">
        <h2 class="research__title title">
            Исследование APDS 2017 года <br>
            показало эффективность <span class="blue__color">Diaprin</span>
        </h2>
        <h3 class="research__subtitle">
            по снижению уровня сахара, устранению сопутствующих болезней при диабете
        </h3>
        <div class="research__line"></div>
        <div class="research__heading">
            <span class="research__heading--bold">Процент пациентов,</span> которые почувствовали <span
                class="research__heading--bold">улучшение</span> в течение 30 дней исследования:
        </div>
        <div class="research-content">
            <div class="research-content_box">
                <div class="research-content_box__img">
                    <img src="img/research-apple.png" alt="apple">
                </div>
                <div class="research-content_box__twobox">
                    <div class="research-content_box__head">Соблюдение диеты</div>
                    <div class="research-content_box__persent">21,2<span>%</span></div>
                </div>
            </div>
            <div class="research-content_box">
                <div class="research-content_box__img2">
                    <img src="img/product__big.png" alt="pack">
                </div>
                <div class="research-content_box__twobox">
                    <div class="research-content_box__head">Применение <span class="blue__color">Diaprin</span></div>
                    <div class="research-content_box__persent pyellow">73<span>%</span></div>
                </div>
            </div>
            <div class="research-content_box">
                <div class="research-content_box__img3">
                    <img src="img/product__big.png" alt="pack">
                    <img src="img/research-apple.png" alt="apple">
                </div>
                <div class="research-content_box__twobox">
                    <div class="research-content_box__head">Применение <span class="blue__color">Diaprin</span> + диеты
                    </div>
                    <div class="research-content_box__persent pgreen">90,4<span>%</span></div>
                </div>
            </div>
        </div>
        <div class="research__heading research__heading2">
            <span class="blue__color">Diaprin</span> получил сертификаты качества <br>
            международного образца:
        </div>
        <div class="research__sert">
            <div class="research__sert-item">
                <img src="img/sert-1.jpg" alt="sert" class="research__sert-img">
            </div>
            <div class="research__sert-item">
                <img src="img/sert-2.jpg" alt="sert" class="research__sert-img">
            </div>
            <div class="research__sert-item">
                <img src="img/sert-3.jpg" alt="sert" class="research__sert-img">
            </div>
        </div>

        <button class="btn research__btn">
            Заказать Diaprin
            <small>со скидкой</smal>
        </button>
    </div>
</section>