<section class="review block blue__bg">
    <div class="wrap">
        <h2 class="title review__title">
            Отзывы
        </h2>
        <div class="review__content">

            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth1.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Ирина
                    </h3>
                    <p class="review__location">
                        30 лет, Уфа
                    </p>
                    <p class="review__des">
                        Мама стала намного живее
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Добрый день. Меня зовут Ирина, проживаю в&nbsp;городе Кемерово. Моей маме 51, и&nbsp;ей
                        поставили
                        диагноз сахарный диабет 2&nbsp;типа.
                        Врачи выписали ей&nbsp;таблетки, но&nbsp;мама всё&nbsp;равно чувствовала себя плохо: слабость
                        была, зрение
                        резко упало, ноги немели. Никогда не&nbsp;видела её&nbsp;такой изможденной. Боялись, что&nbsp;будет
                        трофическая язва, у&nbsp;нашего деда такое&nbsp;было.
                        Я&nbsp;искала ей&nbsp;идеальный препарат, ведь другие&nbsp;же люди как-то лечатся. И&nbsp;я&nbsp;его
                        нашла в&nbsp;интернете. Диаприн. Мама сначала говорила, что это&nbsp;развод, и&nbsp;разве можно
                        в&nbsp;интернете
                        лекарства заказывать. Но я&nbsp;считаю, что&nbsp;аптека ничем не&nbsp;лучше.
                        И&nbsp;вот мама принимает его уже&nbsp;месяц и&nbsp;благодарит меня. Её&nbsp;состояние
                        значительно улучшилось,
                        она&nbsp;стала намного живее, зрение даже возвращается потихоньку, и&nbsp;онемение прошло.
                        Меряем
                        после еды сахар, и&nbsp;он&nbsp;уже не&nbsp;скачет. Очень радуюсь, что с&nbsp;мамой теперь всё&nbsp;хорошо.
                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth2.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Катеринка
                    </h3>
                    <p class="review__location">
                        48 лет, Москва
                    </p>
                    <p class="review__des">
                        Похудела и&nbsp;лучше себя чувствую
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Вес у&nbsp;меня был большой, около 80-ти килограмм, отсюда и&nbsp;диабет взялся. Диаприн мне&nbsp;посоветовал
                        знакомый врач, как&nbsp;хорошую альтернативу дорогим аптечным препаратам, который может убрать
                        ожирение. Я&nbsp;теперь и&nbsp;про инсулин забыла, настолько теперь всё в&nbsp;норме. И&nbsp;осложнений
                        могу не&nbsp;бояться, раньше много нервничала из-за этого. Не&nbsp;нравится только, что все&nbsp;равно
                        после курса
                        нужно сидеть на&nbsp;диете.
                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth3.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Max
                    </h3>
                    <p class="review__location">
                        38 лет, Сургут
                    </p>
                    <p class="review__des">
                        Чувствую себя вполне здоровым
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Помню свою бабушку с&nbsp;сахарным диабетом, которая из-за этого еле ходила и&nbsp;скончалась от&nbsp;инсульта.
                        И&nbsp;когда мне диабет диагностировали, я&nbsp;подумал, что меня ждет то&nbsp;же самое, потому
                        как у&nbsp;меня всю
                        жизнь слабое сердце - а&nbsp;с&nbsp;диабетом всё только усугубляется.
                        Самое сложное было придерживаться диеты с&nbsp;моим интенсивным ритмом жизни, мне вообще сложно
                        нормально питаться а&nbsp;тут ещё и&nbsp;столько всего пришлось исключить. но&nbsp;врач сказал
                        что&nbsp;это не&nbsp;шутки. И&nbsp;если я&nbsp;буду срываться с&nbsp;диеты и&nbsp;не&nbsp;принимать
                        препараты, то&nbsp;слягу.
                        Хорошо, что&nbsp;нашел
                        Диаприн. Работает аж&nbsp;на&nbsp;молекулярном уровне. Я&nbsp;его заказал и&nbsp;начал
                        принимать.
                        И&nbsp;так я&nbsp;пришел в&nbsp;норму. Метаболизм выровнялся, вес пришел в&nbsp;норму, и&nbsp;с&nbsp;сердцем
                        всё&nbsp;хорошо.
                        Сейчас я&nbsp;чувствую себя вполне здоровым но&nbsp;Диаприн до&nbsp;сих&nbsp;пор продолжаю
                        принимать.

                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth4.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Marinka
                    </h3>
                    <p class="review__location">
                        42 года, Войвож
                    </p>
                    <p class="review__des">
                        Даже вес снизился
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        О&nbsp;том, что у&nbsp;меня диабет, я&nbsp;узнала самым удивительным образом - просто прошла
                        тестик в&nbsp;интернете. Я&nbsp;сначала не&nbsp;поверила, но&nbsp;кровь на&nbsp;сахар сдала. И&nbsp;диагноз
                        подтвердился!
                        Переживала,
                        страх. Он&nbsp;же фактически не&nbsp;лечится. Но&nbsp;моя подруга фармацевт посоветовала мне&nbsp;попробовать
                        препарат Диаприн, чтобы организм поддержать и&nbsp;не&nbsp;дать ему&nbsp;загнуться. Ну&nbsp;и&nbsp;сахар
                        конечно&nbsp;же в&nbsp;норме держать. И&nbsp;помогло, я&nbsp;могу больше не&nbsp;нервничать,
                        слава тебе
                        господи. И&nbsp;вес даже снизился!

                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth5.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Александр
                    </h3>
                    <p class="review__location">
                        54 года, Воронеж
                    </p>
                    <p class="review__des">
                        Чувствую себя, как до&nbsp;диабета

                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Попал в&nbsp;больницу с&nbsp;улицы — оказалось, диабетическая кома, сахар был&nbsp;19. Кололи
                        инсулином, потом
                        жена забрала из&nbsp;больницы. Врачи пугали: у&nbsp;вас пять смертельных диагнозов. Полгода сам&nbsp;занимался
                        йогой, но&nbsp;без&nbsp;особого успеха. Уже потом мне&nbsp;объяснили, что&nbsp;питание по&nbsp;йоге
                        при&nbsp;диабете
                        противопоказано… По&nbsp;сути спас меня Диаприн. Когда начал принимать сахар стабилизировался и&nbsp;начал
                        себя чувствовать, как до&nbsp;диабета. В&nbsp;туалет перестал бегать так&nbsp;часто - а&nbsp;это
                        говорит о&nbsp;том, что
                        внутренние системы приходят в себя. Но хоть и теперь все нормально, все равно продолжаю
                        принимать средство это&nbsp;курсами.
                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth6.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Радион
                    </h3>
                    <p class="review__location">
                        49 лет, Череповец
                    </p>
                    <p class="review__des">
                        Не нравится, что нельзя купить в&nbsp;аптеке
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Прохожу переодически курсами, класный препарат. И&nbsp;вес снижает хорошо. Правда не&nbsp;нравиться&nbsp;то,
                        что&nbsp;его нельзя купить в&nbsp;аптеке и&nbsp;нужно заказывать в&nbsp;интернете каждый раз. Ну&nbsp;хоть
                        вкусный.
                    </p>
                    <div class="review__open review__open--close"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth7.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Мария Николаевна
                    </h3>
                    <p class="review__location">
                        40 лет, Москва
                    </p>
                    <p class="review__des">
                        Здоровье сына держится в&nbsp;норме
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Когда у&nbsp;моего 15-летнего сына диагностировали диабет, я&nbsp;была просто в&nbsp;ужасе. И&nbsp;больше
                        всего
                        поразило какое-то равнодушие врачей: ну, не&nbsp;помогает полтаблетки — пейте целую, потом две,
                        потом
                        три — и&nbsp;ничего больше, какая-то обреченность… Только стращают осложнениями, но&nbsp;не&nbsp;дают
                        никакой
                        надежды.
                        Спасибо интернету - там мы&nbsp;нашли Диаприн, и&nbsp;только он&nbsp;нам и&nbsp;помог. Разводим
                        этот&nbsp;порошок в&nbsp;стакане теплой воды через полчаса после обеда. Каждый&nbsp;раз внимательно
                        контролирую, чтобы сын
                        выпил сразу&nbsp;же и&nbsp;не&nbsp;тянул. Здоровье сына держится в&nbsp;норме, не&nbsp;болеет, и&nbsp;я&nbsp;уже почти не&nbsp;нервничаю.

                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth8.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Kostya
                    </h3>
                    <p class="review__location">
                        38 лет, Пушкино
                    </p>
                    <p class="review__des">
                        Как будто вылечился от&nbsp;диабета
                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        У&nbsp;меня пересыхало в&nbsp;горле. По&nbsp;этому поводу я&nbsp;и&nbsp;пришел в&nbsp;поликлинику. Взяли кровь на&nbsp;сахар.
                        Результат был 12,5&nbsp;и&nbsp;12,7 при&nbsp;норме&nbsp;4–5,5. Отправили в&nbsp;больницу на&nbsp;21&nbsp;день. Там мне&nbsp;кололи
                        инсулин, потом перевели на&nbsp;таблетки. После выписки жизнь меня ждала безрадостная. Постоянный
                        контроль питания, строгая диета. Не&nbsp;есть хлеб, картошку и&nbsp;многое другое. И&nbsp;постоянный прием
                        таблеток. Однако, благодаря Диаприну стало не&nbsp;то, что легче, я&nbsp;как будто вылечился от&nbsp;диабета.

                    </p>
                    <div class="review__open"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth9.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Ольга
                    </h3>
                    <p class="review__location">
                        60 лет, Иваново
                    </p>
                    <p class="review__des">
                        Сахар держится в&nbsp;норме

                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Хороший препарат! Когда у&nbsp;меня диагностировали диабет им&nbsp;и&nbsp;начала лечиться, и&nbsp;очень довольна,
                        состояние и&nbsp;самочувствие хорошее, сахар постоянно держится в&nbsp;норме, как&nbsp;будто у&nbsp;меня и&nbsp;нет
                        диабета. Заказываю на&nbsp;официальном сайте, приходит без&nbsp;задержек.
                    </p>
                    <div class="review__open review__open--close"></div>
                </div>
            </div>
            <div class="review__item">
                <div class="review__item-wrap">
                    <img src="img/review__auth10.jpg" alt="auth" class="review__auth">
                    <h3 class="review__name">
                        Larisa
                    </h3>
                    <p class="review__location">
                        57 лет, Кстово
                    </p>
                    <p class="review__des">
                        Средство подошло

                    </p>
                    <img src="img/review__koma.png" alt="ico" class="review__ico">
                    <p class="review__text">
                        Средство мне&nbsp;подошло, в&nbsp;отличии от&nbsp;всяких таблеток из&nbsp;аптеки помогли мне&nbsp;справиться с&nbsp;диабетом.
                        Теперь могу более-менее не&nbsp;переживать из-за скачков сахара. Но&nbsp;аллергия на&nbsp;цитрусовые у&nbsp;меня как
                        была, так и&nbsp;осталась(

                    </p>
                    <div class="review__open review__open--close"></div>
                </div>
            </div>

        </div>
    </div>
</section>