<section class="block blue__bg use">
    <div class="wrap">
        <h2 class="title use__title">
            Как принимать <span class="blue__color">Diaprin</span>
        </h2>
        <h3 class="use__subtitle">
            для наиболее быстрого восстановления здоровья
        </h3>
        <div class="use__content">
            <div class="use__item">
                <div class="use__img">
                    <span class="use__img--num">
                        1
                    </span>
                    <img src="img/use__img-1.png" alt="foto" class="use__foto">
                </div>
                <span class="use__item-line"></span>
                <p class="use__text">
                    Содержимое <span class="blue__color">одного пакета</span> <br>
                    высыпьте в&nbsp;стакан
                </p>
            </div>
            <img src="img/use__line.svg" alt="line" class="use__decor">
            <div class="use__item">
                <div class="use__img">
                    <span class="use__img--num">
                        2
                    </span>
                    <img src="img/use__img-2.png" alt="foto" class="use__foto">
                </div>
                <span class="use__item-line"></span>
                <p class="use__text">
                    Добавьте <span class="blue__color">100 мл</span> <br>
                    теплой&nbsp;воды

                </p>
            </div>
            <img src="img/use__line.svg" alt="line" class="use__decor">
            <div class="use__item">
                <div class="use__img">
                    <span class="use__img--num use__img--num-3">
                       3
                    </span>
                    <img src="img/use__img-3.png" alt="foto" class="use__foto">
                </div>
                <span class="use__item-line"></span>
                <p class="use__text">
                    Выпейте через <span class="blue__color">30 минут</span> <br>
                    после еды

                </p>
            </div>
        </div>
        <div class="use__line"></div>
        <h3 class="use__des">
            Старайтесь принимать Диаприн <span class="use__des--bold">в&nbsp;одно и&nbsp;то&nbsp;же&nbsp;время.</span> <br>
            Так клетки организма будут привыкать <span class="use__des--bold">стабильно</span> правильно реагировать на&nbsp;инсулин.
        </h3>
    </div>
</section>