.graph
	padding-top: 79px
	padding-bottom: 81px
	background-image: linear-gradient(to left, #bfd0e2, #f6f7f9 50%, #bfd0e2)
	z-index: 0
	position: relative
	.font-bold
		font-weight: 500
		color: #222222
	&__title
		margin-bottom: 23px
	&__desc
		text-align: center
		font-size: 22px
		line-height: 1.27
		color: #444444
		margin-bottom: 39px
	&__ttl
		font-size: 30px
		text-align: center
		font-weight: 700
		margin-bottom: 25px
	&__content
		display: flex
		justify-content: space-between
		align-items: flex-end
		border-top: 1px solid #d2d9e9
		max-width: 1110px
		margin: auto
		.col
			width: 165px
			text-align: center
			display: flex
			flex-direction: column
			align-items: center
			flex-shrink: 0
			// position: relative
			// &::after
			// 	content: ''
			// 	display: block
			// 	position: absolute
			// 	top: 0
			// 	bottom: -80px
			// 	width: 1px
			// 	background: #d2d9e9
			// 	left: 50%
			// 	transform: translateX(-50%)
			&:last-of-type
				width: 120px
			&__text
				font-size: 18px
				line-height: 1
				color: #333333
				min-height: 64px
			&__check
				background: white
				border-radius: 50%
				width: 69px
				height: 69px
				border: 4px solid #97a5c5
				display: flex
				justify-content: center
				flex-direction: column
				font-size: 32px
				font-weight: 900
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					width: 0px
					height: 0px
					bottom: -62px
					left: -4px
					border: 35px solid transparent
					border-top: 47px solid #97a5c5
					border-radius: 24px
					z-index: -1
				small
					display: block
					font-size: 14px
					font-weight: normal
				&--1
					margin-bottom: 80px
					color: #f54c4c
				&--2
					margin-bottom: 106px
					color: #ff620d
				&--3
					margin-bottom: 146px
					color: #ff8a0d
				&--4
					margin-bottom: 188px
					color: #ffb80d
				&--5
					margin-bottom: 241px
					color: #d8ce2c
				&--6
					margin-bottom: 280px
					color: #adc700
				&--7
					margin-bottom: 322px
					color: #81a413