.header {
    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;
    }
  &__logo {
    width: auto;
    display: flex;
    align-items: center;
    &-title {
      font-size: 52px;
      font-weight: 900;
      letter-spacing: 0.8px;
      margin-right: 22px;
    }
    &-text {
      color: #333333;
      font-size: 17px;
      line-height: 20px;
    }
  }
  &__nav {
    width: auto;
    display: flex;
  }
  &__itm {
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 33px;
    &:last-child {
      margin-right: 0;
    }
    &--ico {
      flex-shrink: 0;
      margin-right: 13px;
    }

    &--link {
      text-decoration: none;
      color: #333333;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      border-bottom: 1px dashed #000;
      transition: .5s;
      &:hover {
        border-bottom: 1px dashed transparent;
        transition: .5s;
      }
    }
  }
  &__content {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 45px;
    background-image: url('../img/header__man.png');
    background-repeat: no-repeat;
    background-position: right 249px bottom;
    &-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  &__des {
    width: 470px;
    margin-top: 8px;
  }
  &__main-title {
    color: #000;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    &--small {
      color: #333;
      display: block;
      font-weight: 500;
      line-height: 30px;
      margin-top: 16px;
      font-size: 24px;
    }
  }
  &__line {
    width: 55px;
    height: 4px;
    background-color: #a8bdd2;
    margin-top: 28px;
  }
  &__adv {
    width: 100%;
    margin-top: 33px;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 27px;
    &--el {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
      background-color: #81a413;
      border: 5px solid #fff;
      margin-right: 20px;
    }
  }
  &__text {
    font-size: 22px;
    line-height: 26px;
  }
  &__prod {
    width: 430px;
    position: relative;
    &--small {
      width: 276px;
      position: absolute;
      bottom: -124px;
      left: -140px;
      z-index: 3;
    }
    &--big {
      position: absolute;
      bottom: -83px;
      left: 42px;
      z-index: 2;
    }
  }
 }

@media screen and (max-width: 1260px) {
  .header {
    & .form::before {
      display: none;
    }
  }
}

@media screen and (max-width: 1199px) {
  .header {
    &__logo {
      font-size: 44px;
    }

    &__content {
      padding-top: 30px;
      background-position: right 105px bottom -60px;
    }
    &__main-title {
      font-size: 50px;
      line-height: 1;
      &--small {
        font-size: 22px;
      }
    }

    &__prod {
      &--small {
        width: 216px;
        bottom: -100px;
        left: -120px;
      }
      &--big {
        width: 328px;
        left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    &__logo-text {
      display: none;
    }

    &__itm {
      &--ico {
        margin-right: 5px;
      }

    }
    &__content {
      padding-bottom: 30px;
      padding-top: 20px;
      background-position: left bottom -100px;
      &-wrap {
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }
    &__line {
      display: none;
    }
    &__des {
      width: 100%;
      margin-top: 0;
    }
    &__main-title {
      font-size: 36px;
      text-align: center;
      & br {
        content: ' ';
      }
      & br::after {
        content: ' ';
      }
      &--small {
        font-size: 25px;
        margin-top: 5px;
      }

    }
    &__adv {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      width: 235px;
      &--el {
        width: 40px;
        height: 40px;
        border-width: 4px;
        flex-shrink: 0;
        margin-right: 10px;
      }
    }
    &__text {
      font-size: 18px;
      &--small {
        display: inline;
        font-size: 18px;
      }
      & br {
        content: ' ';
      }
      & br::after {
        content: ' ';
      }
    }
    &__prod {
      width: calc(100% - 270px);
      &--big {
        left: auto;
        right: 20px;
        width: 325px;
        bottom: -55px;
      }
      &--small {
        width: 165px;
        bottom: -55px;
        left: 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__nav {
      display: none;
    }
    &__itm {
      width: 300px;
      margin-top: 20px;
      margin-right: 0;
    }
    &__main-title {
      font-size: 30px;
      &--small {
        font-size: 21px;
        margin-top: 10px;
      }
    }
    &__adv {
      margin-top: 15px;
    }
    &__item {
      width: auto;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__text {
      line-height: 1.2;
    }
    &__logo {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
    }
    &__content {
      padding-top: 30px;
      background-size: 500px;
      background-position: right 115px bottom -60px;
      &-wrap {
        margin-top: 0;
      }
    }
    &__prod {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &--big {
        width: 285px;
        bottom: 0;
      }
      &--small {
        width: 145px;
        left: -20px;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .header {
    padding-top: 25px;

    &__content {
      background-image: none;
      padding-top: 0px;
      &-wrap {
        justify-content: space-around;
      }
    }
    &__main-title {
      font-size: 26px;
      &--small {
        font-size: 22px;
        line-height: 1.2;
      }
    }
    &__adv {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      width: 300px;
      margin-right: 0;
    }
    &__text {
      font-size: 18px;
      &--small {
        font-size: 16px;
      }
    }
    &__prod {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 639px) {
  .header {
    &__prod {
      &--big {
        position: static;
        width: 245px;
        margin-right: 10px;
      }
      &--small {
        margin-top: 40px;
        margin-right: -70px;
        width: 135px;
        position: static;
      }
    }
    &__text br{
      content: none;
    }
  }
}

@media screen and (max-width: 639px) {
  .header {
      &__item {
        margin-bottom: 20px;
      }
  }
}
@media screen and (max-width: 479px) {
  .header {
    &__main-title--small {
      margin-top: 5px;
    }
  }
}